.info-wraper{
    min-height: 400px;
    background: linear-gradient(145deg, #ececec ,#ffffff);
    box-shadow: 20px 20px 45px #e6e6e6, -20px -20px 45px #ffffff;
    border-radius: 30px;
    padding: 20px;
    background-image: url("https://github.com/techiecoder2079/food-website/blob/main/assets/images/faq-bg.png?raw=true");
    background-position: center;
}


.title-icon img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.title-icon p{
    font-weight: 500;
}